.oracle-logo {
    background-image: url(/assets/logos/oracle-logo-red.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    vertical-align: middle;
    display: inline-block;
    width: 110px;
    height: 30px;
    font-size: 100%;
}


.sonarqube-logo {
    color: #25699d;
    display: inline-block;
    text-decoration: none;
    height: 44px;
    width: 168px;
}

.ansible-logo {
    margin-right: 8px;
    margin-top: -6px;
    position: fixed;
}

.junit-logo {
    height: 50px;
    width: 50px;
    font-size: 32px;
}
.cpp-logo{
    height: 60px;
    width: 60px;
}

.tableau-logo{
    width: 140px;
    height: 50px;
}

.selenium-logo{
    max-width: 150px;
    font-size: 15px;
}

.python-logo {
    height: 90px;
}
.kibana-logo{
    height: 70px;
}